@import "../styles/breakpoints"

.gamesession-title
  text-align: center


.game-container
  border: solid 2px black
  height: 600px
  width: 1200px
  margin-left: 10%
  margin-right: 10%
  position: relative
  display: flex
  flex-direction: row
  flex: 1

.image-container-1
  border: solid 2px black
  margin: 5%
  height: 400px
  width: 500px

.image-container-2
  border: solid 2px black
  margin: 5%
  height: 400px
  width: 500px
